# Pin Assignments for FIFO standalone in Z80Tube PC88 CPLD but using Pi Pins available for the Z80Tube application

## -- unused -- PIN "PI_GPIO_21"	LOC = PIN1
## -- unused -- PIN "PI_GPIO_20"	LOC = PIN2
## -- unused -- PIN "PI_GPIO_26"	LOC = PIN3
## -- unused -- PIN "PI_GPIO_16"	LOC = PIN4
## -- unused -- PIN "PI_GPIO_19"	LOC = PIN5
## -- unused -- PIN "PI_GPIO_13"	LOC = PIN6
## -- unused -- PIN "PI_GPIO_12"	LOC = PIN7
## PIN "VSS"       	LOC = PIN8;  # gnd1
PIN "clk"       	LOC = PIN9;  # gck1
## -- unused -- PIN "PI_GPIO_06"	LOC = PIN10; # gck2
## -- unused -- PIN "PI_GPIO_05"	LOC = PIN11;
## PIN "TUBE_PHI2"	        LOC = PIN12; # PI_GPIO_07 
PIN "slave_data[0]"	LOC = PIN13; # PI_GPIO_08
PIN "slave_data[3]"	LOC = PIN14; # PI_GPIO_11
PIN "slave_data[7]"	LOC = PIN15; # PI_GPIO_25
## PIN "VSS"	        LOC = PIN16; # gnd2
PIN "slave_data[1]"	LOC = PIN17; # PI_GPIO_09
PIN "slave_data[2]"	LOC = PIN18; # PI_GPIO_10
PIN "slave_data[6]"	LOC = PIN19; # PI_GPIO_24
PIN "slave_data[5]"	LOC = PIN20; # PI_GPIO_23
PIN "slave_data[4]"	LOC = PIN21; # PI_GPIO_22
## PIN "VDD_IO"	        LOC = PIN22; # vccio1
PIN "slave_dor"	LOC = PIN23; # PI_GPIO_27 (PI_GPIO_21 on early models)
PIN "slave_dir"	LOC = PIN24; # PI_GPIO_18
PIN "slave_rd_b"	        LOC = PIN25; # PI_GPIO_17
PIN "slave_wr"	LOC = PIN26; # PI_GPIO_15 (not connected on PiTubeDirect)
## PIN "VSS"	        LOC = PIN27; # gnd3
## PIN "TDI"		LOC = PIN28; # tdi
## PIN "TMS"		LOC = PIN29; # tms    
## PIN "TCK"		LOC = PIN30; # tck
## -- unused -- PIN "PI_GPIO_14"	LOC = PIN31;

##PIN "TUBE_RST_B"	LOC = PIN32; # PI_GPIO_04

#PIN "TUBE_ADR[2]"	LOC = PIN33; # PI_GPIO_03 (PI_GPIO_1 on early models)
#PIN "TUBE_ADR[1]"	LOC = PIN34; # PI_GPIO_02 (PI_GPIO_0 on early models)
#PIN "PMOD_GPIO[7]"      LOC = PIN35; # 
#PIN "PMOD_GPIO[6]"	LOC = PIN36;
#PIN "PMOD_GPIO[5]"	LOC = PIN37;
## PIN "VDD"	        LOC = PIN38; # vccint
#PIN "PMOD_GPIO[4]"	LOC = PIN39;
#PIN "PMOD_GPIO[3]"	LOC = PIN40;
#PIN "PMOD_GPIO[2]"	LOC = PIN41;
## PIN "VSS"	        LOC = PIN42; # gnd4
#PIN "PMOD_GPIO[1]"	LOC = PIN43;
#PIN "PMOD_GPIO[0]"	LOC = PIN44;
PIN "adr[15]"       	LOC = PIN45;
PIN "adr[14]"       	LOC = PIN46;
PIN "adr[13]"       	LOC = PIN47;
PIN "adr[12]"       	LOC = PIN48;
## PIN "VSS"		LOC = PIN49; # gnd5
PIN "adr[11]"		LOC = PIN50;
PIN "adr[10]"		LOC = PIN51;
PIN "adr[9]" 		LOC = PIN52;
PIN "adr[8]" 		LOC = PIN53;
PIN "adr[7]" 		LOC = PIN54;
PIN "adr[6]" 		LOC = PIN55;
PIN "adr[5]" 		LOC = PIN56;
PIN "adr[4]" 		LOC = PIN57;
PIN "adr[3]" 		LOC = PIN58;
## PIN "TDO"		LOC = PIN59; # tdo
## PIN "VSS"		LOC = PIN60; # gnd6
PIN "adr[2]"		LOC = PIN61;
PIN "adr[1]"		LOC = PIN62;
PIN "adr[0]"		LOC = PIN63;
## PIN "VDD_IO"		LOC = PIN64; # vccio2
PIN "host_data[7]"		LOC = PIN65; 
PIN "host_data[6]"		LOC = PIN66; 
PIN "host_data[5]"		LOC = PIN67; 
PIN "host_data[4]"		LOC = PIN68; 
PIN "host_data[3]"		LOC = PIN69; 
PIN "host_data[2]"		LOC = PIN70; 
PIN "host_data[1]"		LOC = PIN71; 
PIN "host_data[0]"		LOC = PIN72; 
## PIN "VDD"		LOC = PIN73; # vccint2
PIN "reset_b"		LOC = PIN74; # gsr
##PIN "MREQ_B"		LOC = PIN75;
PIN "ioreq_b"		LOC = PIN76; # gts1
PIN "rd_b"   		LOC = PIN77; # gts2
## PIN "VDD"		LOC = PIN78; # vccint3
PIN "wr_b"    		LOC = PIN79;
## PIN "INT_B"   		LOC = PIN80;
## PIN "BUSRQ_B" 		LOC = PIN81;
## PIN "BUSACK_B"		LOC = PIN82;
## PIN "READY"   		LOC = PIN83;
## PIN "M1_B"     		LOC = PIN84;